.toolbar-button {
    background-color: white;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.active, .active-edit{
    border: 3px solid blue;
}

#touch-space{
    /* background-color: blue; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
}

#left-toolbar{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 320px;
    background-color: grey;
}

#bottom-toolbar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;

}

#debug{
    position: fixed;
    left: 0px;
    bottom: 22vh;
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
    word-wrap: break-word;
    overflow: scroll;
}

#add-toolbar, #edit-toolbar{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.toolbar-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}