
html, body {
    overscroll-behavior-x: none;
    font-size: 16px;
    text-align: center;
}

#start, #noXR{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    gap: 25px;
}

#go-button{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #7A43E0, #5817D1);
    padding: 18px 40px;
    font-size: 1.3rem;
    border-radius: 1.3rem;
    cursor: pointer;
    border: none;
    color: white;
}

.toolbar-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.active, .active-edit{
    border: 3px solid #7A77FF;
}

#xr-overlay{
    font-size: 14px;
}

#bottom-toolbar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 16vh;
    padding-top: 10px;
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
    overflow-x: scroll;
    overflow-y: hidden;

}

#debug{
    position: fixed;
    left: 0px;
    bottom: 22vh;
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    word-wrap: break-word;
    overflow: scroll;
}

#main-toolbar{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#add-toolbar, #edit-toolbar, #texture-toolbar{
    display: flex;
    gap: 5px;
}

.menu-back-button, .add-menu-back-button, .edit-menu-back-button, .texture-menu-back-button{
    color: #7A77FF;
    height: 60px;
    width: 60px;
    background: none;
    border: none;
}

#end-session{
    position: fixed;
    top: 1vh;
    left: 2vw;
}

.slider-section{
    position: fixed;
    left: 5vw;;
    bottom: 20vh;
    width: 90vw;
    grid-template-columns: 22% 78%;
    grid-template-rows: 40px 40px 40px;
}

.single-slider-section{
    position: fixed;
    left: 5vw;;
    bottom: 20vh;
    width: 90vw;
    grid-template-columns: 22% 78%;
    grid-template-rows: 40px;
}


.toolbar-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container{
    width: 100%;
    height: 30px;
    display: grid;
    place-items: center;
}

.slider{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    /* -webkit-transition: .2s;
    transition: opacity .2s; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #7A77FF;
    border: none;
  }

.red-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #FF0000;
    border: none;
  }

.green-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00FF00;
    border: none;
  }

.blue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #0000FF;
    border: none;
  }

.objects-container{
    width: 80vw;
    height: 5rem;
    overflow-y: scroll;
    display: grid;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

.object-container{
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.object-button{
    background-color: rgba(100,100,100,0.5);
    border-radius: 15px;
    width: 60%;
    padding: 5px 15px;
    height: 1.4rem;
}

.active-object{
    border: 2px solid #7A77FF;
}

.delete-button{
    width: 20%;
    height: 2rem;
    /* border: 2px solid blue; */
    background-color: rgba(100,100,100,0.5);
    border-radius: 15px;
    color: white;
}

.edit-tool-output{
    background-color: white;
    color: black;
    border-radius: 12px;
    display: grid;
    place-items: center;
    height: 90%;
}

#white-marble-texture-button, #materials-button{
    background-image: url('../assets/textures/material-textures/white-marble-texture/baseColor.jpg');
    background-size: 200%;
}

#bark-texture-button{
    background-image: url('../assets/textures/material-textures/bark/bark_brown_02_diff_4k.jpg');
    background-size: 200%;
}

#wood-texture-button{
    background-image: url('../assets/textures/material-textures/wood/wood_table_001_diff_4k.jpg');
    background-size: 200%;
}

#rocks-texture-button{
    background-image: url('../assets/textures/material-textures/rocks/rocks_ground_01_diff_4k.jpg');
    background-size: 200%;
}

#pebbles-texture-button{
    background-image: url('../assets/textures/material-textures/pebbles/PebblesSurface_1Albedo.jpg');
    background-size: 200%;
}

#ice-texture-button{
    background-image: url('../assets/textures/material-textures/ice/Ice_basecolor.jpg');
    background-size: 200%;
}

#asphalt-texture-button{
    background-image: url('../assets/textures/material-textures/asphalt/asphalt_02_diff_4k.jpg');
    background-size: 200%;
}

#texture1-button, #pattern-texture-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_1.png');
    background-size: 200%;
}

#texture2-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_2.png');
    background-size: 200%;
}

#texture3-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_3.png');
    background-size: 200%;
}

#texture4-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_4.png');
    background-size: 200%;
}

#texture5-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_5.png');
    background-size: 200%;
}

#texture6-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_6.png');
    background-size: 200%;
}

#texture7-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_7.png');
    background-size: 200%;
}

#texture8-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_8.png');
    background-size: 200%;
}

#texture9-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_9.png');
    background-size: 200%;
}

#texture10-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_10.png');
    background-size: 200%;
}

#texture11-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_11.png');
    background-size: 200%;
}

#texture12-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_12.png');
    background-size: 200%;
}

#texture12-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_12.png');
    background-size: 200%;
}

#texture13-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_13.png');
    background-size: 200%;
}

#texture14-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_14.png');
    background-size: 200%;
}

#texture15-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_15.png');
    background-size: 200%;
}

#texture16-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_16.png');
    background-size: 200%;
}

#texture17-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_17.png');
    background-size: 200%;
}

#texture18-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_18.png');
    background-size: 200%;
}

#texture19-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_19.png');
    background-size: 200%;
}

#texture20-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_20.png');
    background-size: 200%;
}

#texture21-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_21.png');
    background-size: 200%;
}

#texture22-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_22.png');
    background-size: 200%;
}

#texture23-button{
    background-image: url('../assets/textures/color-textures/Screen_Shot_Texture_23.png');
    background-size: 200%;
}