.toolbar-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

#toolbar-instructions{
    /* background-color: lightblue; */
    display: none;

}

.active, .active-edit{
    border: 3px solid #7A77FF;
}

.active-toolbar{
    /* background-color: pink; */
}

#bottom-toolbar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100vw;
    height: 16vh;
    padding-top: 10px;
    display: grid;
    place-items: center;
    /* place-items: center start; */
    /* overflow: scroll; */
    background-color: black;
    color: white;
    overflow: scroll;

}

#debug{
    position: fixed;
    left: 0px;
    bottom: 22vh;
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
    word-wrap: break-word;
    overflow: scroll;
}

#main-toolbar{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#add-toolbar, #edit-toolbar, #texture-toolbar{
    display: flex;
    /* justify-content: start; */
    gap: 5px;
}

.menu-back-button{
    color: #7A77FF;
    height: 60px;
    width: 60px;
    background: none;
    border: none;
    /* border-radius: 30px;
    border: 2px solid #7A77FF; */
}

#end-session{
    position: fixed;
    top: 1vh;
    left: 2vw;
}

#scale-sliders, #rotate-sliders, #color-sliders, #position-sliders{
    position: fixed;
    left: 5vw;;
    bottom: 22vh;
    width: 90vw;
    /* background-color: white; */
    /* display: grid; */
    grid-template-columns: 22% 78%;
    grid-template-rows: 40px 40px 40px;
}


.toolbar-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container{
    /* background-color: blue; */
    width: 100%;
    height: 30px;
    display: grid;
    place-items: center;
}

.slider{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    /* -webkit-transition: .2s;
    transition: opacity .2s; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #7A77FF;
    border: none;
  }

.red-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #FF0000;
    border: none;
  }

.green-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #00FF00;
    border: none;
  }

.blue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #0000FF;
    border: none;
  }

.objects-container{
    width: 80vw;
    height: 5rem;
    overflow: scroll;
    display: grid;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

.object-container{
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.object-button{
    background-color: rgba(100,100,100,0.5);
    border-radius: 15px;
    width: 60%;
    padding: 5px 15px;
    height: 1.4rem;
}

.active-object{
    border: 2px solid #7A77FF;
}

.delete-button{
    width: 20%;
    height: 2rem;
    /* border: 2px solid blue; */
    background-color: rgba(100,100,100,0.5);
    border-radius: 15px;
    color: white;
}

.edit-tool-output{
    background-color: white;
    color: black;
    border-radius: 12px;
    display: grid;
    place-items: center;
    height: 90%;
}

#white-marble-texture-button{
    background-image: url('../assets/textures/material-textures/white-marble-texture/baseColor.jpg');
    background-size: 200%;
}

#bark-texture-button{
    background-image: url('../assets/textures/material-textures/bark/bark_brown_02_diff_4k.jpg');
    background-size: 200%;
}

#texture1-button{
    background-image: url('../assets/textures/color-textures/Texture_1.jpg');
    background-size: 200%;
}

#texture2-button{
    background-image: url('../assets/textures/color-textures/Texture_2.jpg');
    background-size: 200%;
}

#texture3-button{
    background-image: url('../assets/textures/color-textures/Texture_3.jpg');
    background-size: 200%;
}

#texture4-button{
    background-image: url('../assets/textures/color-textures/Texture_4.jpg');
    background-size: 200%;
}

#texture5-button{
    background-image: url('../assets/textures/color-textures/Texture_5.jpg');
    background-size: 200%;
}

#texture6-button{
    background-image: url('../assets/textures/color-textures/Texture_6.jpg');
    background-size: 200%;
}